####  DataFrame

The DataFrame (DF) is a special, array-like data type implemented in the Pandas library of Python (created by Wes McKinney) used in data analysis and manipulation. If you are familiar with SQL, it acts as the DataBase (DB).  If you have used PowerBuilder, it is like its DataWindow.

In [1]:
import pandas as pd

You can create a blank DF

In [2]:
dfEmpty = pd.DataFrame()

In [6]:
dfEmpty

Empty DataFrame
Columns: []
Index: []

In [20]:
dictCount = {"numbers": [0, 1, 2, 3], "letters": ["Zero", "One", "Two", "Three"]}

In [45]:
dictCount

{'numbers': [0, 1, 2, 3], 'letters': ['Zero', 'One', 'Two', 'Three']}

In [21]:
dfDictionary = pd.DataFrame(data = dictCount)

In [22]:
dfDictionary

   numbers letters
0        0    Zero
1        1     One
2        2     Two
3        3   Three

In [23]:
listRGBKey = ['r','g','b']

In [24]:
listRGBValue = ["red", "green", "blue"]

In [25]:
dictRGB = {}

In [26]:
for rgbKey, rgbValue in zip(listRGBKey, listRGBValue):
    dictRGB[rgbKey] = rgbValue

NOTE: _zip_ is used to generate a "parallel iterator".  It can be useful as it allows you to traverse multiple sequences at one time.

In [46]:
dictRGB

{'r': 'red', 'g': 'green', 'b': 'blue'}

In [47]:
dfDictionary2 = pd.DataFrame(data = dictRGB)

ValueError: If using all scalar values, you must pass an index

In [48]:
dfDictionary2 = pd.DataFrame(data = dictRGB, index =[0] )

In [49]:
dfDictionary2

     r      g     b
0  red  green  blue

In [50]:
indexDFD2B = [1]

In [52]:
dfDictionary2B = pd.DataFrame(dictRGB, indexDFD2B)

In [53]:
dfDictionary2B

     r      g     b
1  red  green  blue

NOTE:  It seems that because it is interpreted as a scalar (even if it is a list, Python doesn't know what to row to put in that's why it's requesting for an index.

The syntax of the function can be read here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

In [41]:
ones = 1
twos = 2
threes = 3

In [42]:
repeat = 3

In [43]:
dfDictionary3 = pd.DataFrame({'Ones':[ones] * repeat,'Twos':[twos] * repeat, 'Threes':[threes] * repeat })

In [44]:
dfDictionary3

   Ones  Twos  Threes
0     1     2       3
1     1     2       3
2     1     2       3

Based on:  https://stackoverflow.com/questions/17839973/constructing-pandas-dataframe-from-values-in-variables-gives-valueerror-if-usi.  You can repeatedy and automatically populate your DataFrame without having to manually encode values.

WARNING:  Ironically, some answers in StackOverflow can be "tricky" for "beginners".  I dissuade you to use it if your just starting out.