#### loc vs. iloc

Both are "indexers' used in data selection.

print("\n -- loc -- \n")
print(df.loc[df['Age'] < 30, ['Color', 'Height']])
 
print("\n -- iloc -- \n")
print(df.iloc[(df['Age'] < 30).values, [1, 3]])

In [1]:
import pandas as pd

In [2]:
data = {'Integer': [0, 1, 2, 3, 4, 5],
        'English': ['zero', 'one', 'two', 'three', 'four', 'five'],
        'Mandarin': ['líng', 'yī', 'èr', 'sān', 'sì', 'wǔ'],
        'Spanish': ['cero', 'uno', 'dos', 'tres', 'cuatro', 'cinco']}

In [3]:
df_count = pd.DataFrame(data)

print(df_count, '\n')

   Integer English Mandarin Spanish
0        0    zero     líng    cero
1        1     one       yī     uno
2        2     two       èr     dos
3        3   three      sān    tres
4        4    four       sì  cuatro
5        5    five       wǔ   cinco

**loc** is typically used for boolean selection or conditional statement.

In [4]:
df_loc = df_count.loc[df_count['Integer'] > 0 ]

In [5]:
print(df_loc)

   Integer English Mandarin Spanish
1        1     one       yī     uno
2        2     two       èr     dos
3        3   three      sān    tres
4        4    four       sì  cuatro
5        5    five       wǔ   cinco

By default, all columns are returned but you can choose which column(s) are displayed.

In [6]:
df_loc1b = df_count.loc[df_count['Integer'] > 0, ['English']]

In [7]:
print(df_loc1b)

  English
1     one
2     two
3   three
4    four
5    five

As it is primarily 'label'-based, you can specify a 'range' of columns.

In [8]:
df_loc1c = df_count.loc[df_count['Integer'] > 0, 'Integer':'English']

In [9]:
print(df_loc1c)

   Integer English
1        1     one
2        2     two
3        3   three
4        4    four
5        5    five

You can specify which rows to returns 'directly' instead of a 'condition'.

In [10]:
df_loc2 = df_count.loc[1:5]

In [11]:
print(df_loc2)

   Integer English Mandarin Spanish
1        1     one       yī     uno
2        2     two       èr     dos
3        3   three      sān    tres
4        4    four       sì  cuatro
5        5    five       wǔ   cinco

In [12]:
df_loc2b = df_count.loc[1:5, 'English']

In [13]:
print(df_loc2b, '\n', type(df_loc2b))

1      one
2      two
3    three
4     four
5     five
Name: English, dtype: object
 <class 'pandas.core.series.Series'>

NOTE: If you specify it this way (and not like previously), the label because it's been transformed into a Series.

In [17]:
print(df_loc2b)

1      one
2      two
3    three
4     four
5     five
Name: English, dtype: object

In [18]:
df_loc2c = df_count.loc[1:5, 'Integer':'English']

In [19]:
print(df_loc2c)

   Integer English
1        1     one
2        2     two
3        3   three
4        4    four
5        5    five

**iloc** is integer based.

In [48]:
df_iloc = df_count.iloc[0]

In [49]:
print(df_iloc, '\n', type(df_iloc))

Integer        0
English     zero
Mandarin    líng
Spanish     cero
Name: 0, dtype: object
 <class 'pandas.core.series.Series'>

NOTE: Essentially, it returns a 'cross-section'that is a Series.

In [58]:
df_iloc2 = df_count.iloc[1:6]

In [59]:
print(df_iloc2)

   Integer English Mandarin Spanish
1        1     one       yī     uno
2        2     two       èr     dos
3        3   three      sān    tres
4        4    four       sì  cuatro
5        5    five       wǔ   cinco

In [64]:
df_iloc2b = df_count.iloc[5:7]

In [65]:
print(df_iloc2b)

   Integer English Mandarin Spanish
5        5    five       wǔ   cinco

In [66]:
df_iloc2c = df_count.iloc[6:7]

In [67]:
print(df_iloc2c)

Empty DataFrame
Columns: [Integer, English, Mandarin, Spanish]
Index: []

PROGRAMMING TIP: It allows for 'out-of-bounds' or empty DataFrames so be careful as errors can easily occur.

In [52]:
df_iloc3 = df_count.iloc[1:6, 1]

In [53]:
print(df_iloc3, '\n', type(df_iloc3))

1      one
2      two
3    three
4     four
5     five
Name: English, dtype: object
 <class 'pandas.core.series.Series'>

NOTE: When you indicate only a sigle column, a DataFrame is transformed into a Series.

In [54]:
df_iloc3b = df_count.iloc[1:6, 0:2]

In [55]:
print(df_iloc3b)

   Integer English
1        1     one
2        2     two
3        3   three
4        4    four
5        5    five

NOTE:  Remember that the last index isn't included.

You can use this to reference a specific "cell"

In [56]:
df_iloc4 = df_count.iloc[0, 0]

In [57]:
print(df_iloc4)

0

**loc** and **iloc** are different forms of 'slicing' using indeces.